ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  
  li {
    float: left;
    font-size: 20px;
  }
  
  li a {
    display: block;
    padding: 8px;
  }
  
  .container{
    height: 100px;
  }
img .container {
height: 500px;
}

.separation {
  margin-top: 1000px;
}

td{
    text-align: center;
}
footer {
    margin-top: 1300px;
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }